body{
    margin: 0;
    padding: 0;
}
section{
    height: 100vh;
    background: #000;
}
h1{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #04d9ff;
    font-size: 5rem;
    font-family: sans-serif;
    letter-spacing: 0.2rem;
}

h1 span{
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
    }
}

h1 span:nth-child(1)
{
    animation-delay: 1s;
}
h1 span:nth-child(2)
{
    animation-delay: 2s;
}
h1 span:nth-child(3)
{
    animation-delay: 2.5s;
}
h1 span:nth-child(4)
{
    animation-delay: 3s;
}
h1 span:nth-child(5)
{
    animation-delay: 3.5s;
}
h1 span:nth-child(8)
{
    animation-delay: 3.75s;
}
h1 span:nth-child(9)
{
    animation-delay: 4s;
}
h1 span:nth-child(10)
{
    animation-delay: 4.5s;
}
h1 span:nth-child(13)
{
    animation-delay: 5s;
}
h1 span:nth-child(14)
{
    animation-delay: 5.5s;
}
h1 span:nth-child(15)
{
    animation-delay: 6s;
}
h1 span:nth-child(16)
{
    animation-delay: 6.5s;
}
h1 span:nth-child(19)
{
    animation-delay: 7s;
}
h1 span:nth-child(20)
{
    animation-delay: 7.5s;
}
h1 span:nth-child(21)
{
    animation-delay: 8s;
}
h1 span:nth-child(22)
{
    animation-delay: 8.5s;
}
